*,
*::before,
*::after {
  box-sizing: border-box;
}

#container {
  position: relative;
  /* background: url('https://img1.wsimg.com/isteam/stock/4813/'); */
  background-image: url("https://img1.wsimg.com/isteam/stock/4813/");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
  display: grid;
  height: 60vh;
  z-index: -2;
}

#container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

#textcontainer {
  position: relative;
  margin: auto 0;
  padding: 1em;
  left: 20%;
  width: 80%;
}

#textcontainer h1 {
  color: white;
}

#typewriter {
  position: relative;
  margin-left: 0.25em;
  font-weight: 500;
}

#typewriter::after {
  content: "";
  position: absolute;
  width: 2px;
  right: 0;
  top: -5px;
  bottom: -5px;
  background-color: #fff;
  animation: blink 800ms ease-out infinite;
}

@keyframes blink {
  60% {
    opacity: 0;
  }
}
